#quack {
    display: block;
    width: 90%;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
}

#quackPoster {
    width: 100%;
}

#sendQuack {
    position: absolute;
    right: 5%;
}
